* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background: rgba(0,0,0,0.9);
    color: white;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    font-family: candara;
    display: block;
    text-decoration: none;
    color: whitesmoke;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: #555;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}
.bg{
    background-image: url(bg1.jpg);
      background-size: cover;
      width: 100%;
      height: 550px;

}
.content{
    font-family: candara;
    font-size: 60px;
    font-weight: bold;
    position: relative;
    left: 15%;
    top: 25%;
    color:rgb(190,190,190) ;
}
.content1{
    font-family: candara;
    font-size: 23px;
    position: relative;
    left: 15%;
    top: 30%;
    color:rgb(190,190,190) ;
}


.login-box {
  position: relative;
  top: 10%;
  left: 65%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.6);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login-box h2 {
  font-family: candara;
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}
.login-box .user-box1 {
  position: relative;
  font-family: ariel;
  color: rgb(190,190,190);
  top: 1px;
}
.login-box .user-box2 {
  position: relative;
  font-family: candara;
  color: rgb(190,190,190);
  top: -15px;
  left: 250px;
}


.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  font-family: candara;
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: rgb(190,190,190);
  font-size: 12px;
}

.login-box form a {
    font-family: candara;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: rgb(190,190,190);
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box a:hover {
  background: rgb(190,190,190);
  color: #fff;
  border-radius: 5px;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: rgb(190,190,190)
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background:rgb(190,190,190)
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: rgb(190,190,190)
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: rgb(190,190,190)
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}
.forget{
     position: relative;
    font-family: candara;
    color: rgb(190,190,190);
    top: -250px;
    left: 730px;

}
.forget1{
     position: relative;
    font-family: candara;
    color: rgb(190,190,190);
    top: -270px;
    left: 1000px;

}


